<div class="row">
  <div class="col-md-8 form-group">
    <label>select file by vendor (Meri Meri) : </label>
    <input
      type="file"
      class="form-control"
      (change)="DataFile($event)"
      placeholder="Upload file"
      accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,
      .xlsx"
    />
  </div>

  <!-- <div class="col-md-8 form-group">
    <label>Select pharos file for Columns : </label>
    <input
      type="file"
      class="form-control"
      (change)="ColumnFile($event)"
      placeholder="Upload file"
      accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
    />
  </div> -->
</div>

<div>
  <a style="cursor: pointer" (click)="onExcelExport()"> Download Excel </a>
</div>
